@using System.Security.Claims;
@inject AuthenticationStateProvider _authStateProvider

@if (authorized)
{
    <a href="addDoctor" style="margin-left:0px;" class="dropdown-item">Add Doctor</a>
    <a href="addPoli"  style="margin-left:0px;" class="dropdown-item">Add Policlinic</a>
}


@code {
    bool authorized = false;
    protected override async Task OnInitializedAsync()
    {
        string role = (await _authStateProvider.GetAuthenticationStateAsync()).User.Claims
        .FirstOrDefault(x => x.Type == ClaimTypes.Role).Value;

        if (role.Contains("Admin"))
        {
            authorized = true;
        }
    }
}
